body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.structure-viewer {
  display: flex;
  flex-direction: row;
}

.plugin-container {
  flex: 1 1;
  position: relative;
}

#controls {
  position: absolute;
  width: 130px;
  top: 10px;
  left: 10px;
  grid-template-columns: 120px [col-start] 120px [col-start];
  display: grid;
  grid-gap: 5px;
}

#controls > button {
  display: block;
  width: 100%;
  text-align: left;
}

#controls > hr {
  margin: 5px 0;
}

#controls > input, #controls > select {
  width: 100%;
  display: block;
}

